.players_header {
    padding: 20px;
}

.momentstyle {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.momentstyle div {
    text-align: center;
    margin: 10px;
    width: calc(33% - 20px);
    word-break: break-all;
}

.momentstyle img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid transparent;
}

.momentstyle img:hover {
    cursor: pointer;
    border: 3px solid var(--white-very-dark) !important;
}

#popup {
    position: absolute;
    margin: auto;
    top: 25vh;
    left: 0;
    right: 0;
    background-color: #f1f2f3;
    max-width: 90%;
    border-radius: 10px;
}

#popup img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#popup button {
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#popup button:hover {
    cursor: pointer;
}

.infos {
    position: absolute;
    top: 5px;
    left: 10px;
}
