@font-face {
	font-family: Charlemagne;
	src: url('/font/Charlemagne.ttf');
}

/*------- FONT --------*/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Inter-Bold.woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Inter-Regular.woff");
}

/*------- GLOBAL ------*/
* {
	margin: 0;
	padding: 0;
	z-index: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	min-width: 400px;
	font-family: 'Inter', sans-serif;
}

input, button {
	font-family: 'Inter', sans-serif;
}


/*------- ID - CLASSES ------*/

.editor {
	text-align: center;
	padding: 1em;
}

/*- menu_enter -*/
#canvas {
	width: 100%;
	height: 100vh;
}

.menu_enter {
	display: flex;
    flex-direction: column;
	min-width: 400px;
	position:absolute;
	right: 25%;
	top: calc(25% + 20px);
	width: calc(50% - 80px);
	height: calc(50% - 80px);
	margin: auto;
	text-align: center;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(143,143,143,1);
	-moz-box-shadow: 1px 1px 8px 2px rgba(143,143,143,1);
	box-shadow: 1px 1px 8px 2px rgba(143,143,143,1);
	padding: 20px 40px;
    align-items: center;
    overflow: scroll;
}

#menu_enter #logo {
	max-width:100%;
}

#menu_enter img {
	max-width: 30px;
	vertical-align: middle;
}
#logo_input {
	transition: 300ms ease-out;
}

#menu_enter li {
	cursor:pointer;
	list-style: none;
	font-weight: 600;
	transition:500ms;
	/*text-decoration: none;*\*/
}

#menu_enter li:hover {
	text-decoration: underline;
}

#menu_enter ul {
	width: fit-content;
	margin-left: auto;
	text-align: left;
}

#menu_enter ul img {
	padding-bottom:7px;
	padding-right: 5px;
}

#menu_enter input {
	outline:none;
	font-size: 15px;
	padding: 4px 20px;
	border: none;
	border-bottom: 1px solid rgba(59, 64, 67, 1);
}

#menu_enter div {
	margin:50px 0 10px 0;
}

#menu_enter button {
	font-weight: 700;
	letter-spacing: 1.5px;
	cursor:pointer;
	padding: 8px 30px;
	margin: 50px;
	border:none;
	border-radius: 4px;
	background-color: rgba(59, 64, 67, 1);
	color: rgba(250, 251, 252, 1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
	transition: 300ms;
}

#menu_enter button:hover {
	border-radius: 4px;
	background-color: var(--white-dark);
	color: var(--ui-dark-dark);
}

/* ------ CLASSES -------*/

.hidden {
	display: none;
}

.back {
	position: absolute;
	top: 10px;
	right: 20px;
	max-height: 20px;
	max-width: 20px;
}

/* Style for personal stats (or in-game menu) */
#stats > li{
  list-style-type:none;
  padding:0 18px 0 12px;
  vertical-align: middle;
}

#stats img{
  padding: 2px 15px 2px 2px;
}

label{
  position:relative;
  display:block;
  padding:0 20px 0 15px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

input:checked ~ label:after{
  transition:border-top .1s, border-bottom .1s .1s;
}

input:checked ~ .personal{
  max-height:700px;
  transition:max-height 0.5s ease-in;
}

.personal { 
  max-height:0;
  padding: 0;
  max-width: 260px;
  overflow: hidden;
  list-style-type: none;
}

.personal div {
  display:block;
  padding: 8px;
  color: #000000;
  text-decoration:none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#minimal {
	align-items: center;
	text-align: center;
	display: flex;
}

.tools:hover{
  background:rgba(0,0,0,.3);
}

.editor-bar {
	text-align: center;
	display: flex;
	flex-direction: row;
}

.editor-element {
	display: flex;
	flex-direction: column;
}

.sidebar {
  width: 265px;
  position: absolute;
  top: 15px;
  right: 80px;
  border-radius: 4px;
  box-shadow: -1px 2px 7.5px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.players_header {
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: bold;
	color: #000000;
	margin: 4rem 0;
	text-align: center;
	width: 100%;
}

.players_item {
	height: 8rem;
	width: 100%;
	padding: 0 20vw;
}

.players_item h2 {
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	color: var(--ui-dark-dark);
	display: inline;
	padding-left: 1rem;
}

.players_item .badge {
	display: inline-block;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	padding: 1rem;
	height: 1rem;
	width: 1rem;
	color: var(--white);
}

hr {
	margin: 10px 0;
	border: 0.8px solid black;
	border-radius: 5px;
}